.p-Home.Flex4 {
display: flex;
font-size: 18px;
align-items: center;
justify-content: space-between;
align-content: stretch;
align-self: auto;
flex-direction: row;
padding-left: 50px;
padding-right: 50px;
margin-top: 15px;
}
.p-Home.Div7 {
;
}
.p-Home.Div11 {
display: block;
}
.p-Home.Div12 {
;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
font-size: 40px;
row-gap: 20px;
padding-left: 150px;
padding-top: 50px;
flex-grow: 1;
align-items: flex-start;
position: static;
}
.p-Home.Div13 {
;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Div14 {
;
}
.p-Home.Div16 {
;
}
.p-Home.Div20 {
width: 70%;
font-size: 18px;
color: #757575;
float: none;
clear: none;
}
.p-Home.Div21 {
;
}
.p-Home.Flex11 {
display: flex;
}
.p-Home.Div22 {
;
}
.p-Home.Flex12 {
display: flex;
column-gap: 30px;
flex-direction: row;
row-gap: ;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Flex13 {
display: flex;
background-color: #FF7629;
border-right-width: ;
float: right;
align-self: flex-end;
flex-direction: row;
overflow: visible;
position: absolute;
}
.p-Home.Div28 {
display: block;
}
.p-Home.Flex14 {
display: flex;
padding-top: 75px;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
font-size: 21px;
}
.p-Home.Div30 {
;
}
.p-Home.Div34 {
;
}
.p-Home.Flex15 {
display: flex;
column-gap: 40px;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.p-Home.Div35 {
;
}
.p-Home.Flex16 {
display: flex;
column-gap: 60px;
align-items: center;
justify-content: space-between;
}
.p-Home.Div37 {
display: block;
}
.p-Home.Flex18 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
row-gap: 40px;
padding-top: 150px;
padding-bottom: 100px;
width: ;
}
.p-Home.Div38 {
;
}
.p-Home.Div39 {
;
}
.p-Home.Flex19 {
display: flex;
flex-direction: row;
row-gap: 20px;
column-gap: 30px;
}
.p-Home.Div40 {
;
}
.p-Home.Flex20 {
display: flex;
column-gap: 30px;
padding-right: 50px;
justify-content: center;
align-items: center;
align-content: center;
align-self: center;
margin-left: 85px;
}
.p-Home.Div41 {
;
}
.p-Home.Flex21 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
}
.p-Home.Div42 {
;
}
.p-Home.Div43 {
;
}
.p-Home.Div44 {
;
}
.p-Home.Div57 {
;
}
.p-Home.Flex23 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
border-top-width: 2px;
border-left-width: 2px;
border-bottom-width: 2px;
border-right-width: 2px;
}
.p-Home.Div58 {
;
}
.p-Home.Div59 {
;
}
.p-Home.Div60 {
;
}
.p-Home.Div61 {
;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
border-top-width: 2px;
border-left-width: 2px;
border-bottom-width: 2px;
border-right-width: 2px;
}
.p-Home.Div62 {
;
}
.p-Home.Div63 {
;
}
.p-Home.Div64 {
;
}
.p-Home.Div65 {
;
}
.p-Home.Flex25 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-style: solid;
border-color: #cecece;
padding-top: 40px;
padding-bottom: 40px;
border-top-width: 2px;
border-left-width: 2px;
border-bottom-width: 2px;
border-right-width: 2px;
}
.p-Home.Div66 {
;
}
.p-Home.Div67 {
;
}
.p-Home.Div68 {
;
}
.p-Home.Div69 {
;
}
.p-Home.Flex26 {
display: flex;
column-gap: 30px;
justify-content: space-between;
flex-direction: row;
row-gap: ;
align-self: center;
}
.p-Home.Div70 {
;
}
.p-Home.Flex28 {
display: flex;
flex-direction: row;
padding-right: 0px;
}
.p-Home.Div71 {
;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
justify-content: center;
row-gap: 33px;
box-sizing: border-box;
padding-top: 90px;
padding-bottom: 314px;
padding-left: 150px;
background-color: #FF7629;
width: 100%;
}
.p-Home.Div72 {
;
}
.p-Home.Div73 {
;
}
.p-Home.Div74 {
;
}
.p-Home.Flex30 {
display: flex;
column-gap: 30px;
justify-content: flex-start;
}
.p-Home.Div75 {
padding-right: 0px;
float: none;
}
.p-Home.Div76 {
;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
row-gap: 20px;
}
.p-Home.Div77 {
;
}
.p-Home.Flex33 {
display: flex;
}
.p-Home.Div78 {
;
}
.p-Home.Div79 {
;
}
.p-Home.Div80 {
;
}
.p-Home.Flex34 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 50px;
}
.p-Home.Div82 {
;
}
.p-Home.Flex35 {
display: flex;
}
.p-Home.Div1 {
display: none;
align-self: auto;
}
.p-Home.Button2 {
color: #060000;
background-color: #fcfbfb;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #696969;
cursor: pointer;
user-select: none;
margin-left: 40px;
}
.p-Home.Button3 {
color: #ffffff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Image6 {
width: 250px;
padding-right: 15px;
}
.p-Home.TextBox14 {
color: #696969;
}
.p-Home.TextBox15 {
color: #696969;
}
.p-Home.TextBox16 {
color: #696969;
}
.p-Home.TextBox17 {
color: #696969;
}
.p-Home.TextBox18 {
color: #696969;
}
.p-Home.TextBox11 {
margin-top: 100px;
}
.p-Home.TextBox12 {
color: #FF7629;
}
.p-Home.TextBox13 {
width: 51%;
}
.p-Home.Button23 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Button24 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Image4 {
width: 400px;
border-radius: 50px;
padding-top: 40px;
padding-right: 40px;
padding-left: 40px;
padding-bottom: 40px;
position: relative;
right: 200px;
}
.p-Home.TextBox20 {
margin-top: 100px;
}
.p-Home.Image10 {
width: 200px;
}
.p-Home.Image13 {
width: 80px;
}
.p-Home.Image14 {
width: 100px;
padding-top: 5px;
height: 28px;
}
.p-Home.Image15 {
width: 200px;
border-color: #fcf8f8;
}
.p-Home.TextBox21 {
font-size: 25px;
}
.p-Home.Image16 {
width: 140px;
}
.p-Home.TextBox22 {
font-size: 20px;
}
.p-Home.TextBox23 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-size: 17px;
}
.p-Home.TextBox24 {
font-size: 17px;
color: #FF7629;
}
.p-Home.Image17 {
width: 140px;
}
.p-Home.TextBox25 {
font-size: 20px;
}
.p-Home.TextBox26 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-size: 17px;
}
.p-Home.TextBox27 {
font-size: 17px;
color: #FF7629;
}
.p-Home.Image18 {
width: 144px;
}
.p-Home.TextBox28 {
font-size: 20px;
}
.p-Home.TextBox29 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-size: 17px;
}
.p-Home.TextBox30 {
font-size: 17px;
color: #FF7629;
}
.p-Home.Image20 {
width: 140px;
}
.p-Home.TextBox31 {
font-size: 20px;
}
.p-Home.TextBox32 {
width: 200px;
padding-left: 30px;
padding-right: 10px;
color: #676767;
font-size: 17px;
}
.p-Home.TextBox33 {
font-size: 17px;
color: #FF7629;
}
.p-Home.Button28 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Button29 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.TextBox34 {
max-width: 80%;
font-size: 38px;
color: #ffffff;
margin-top: 82px;
}
.p-Home.TextBox35 {
max-width: 80%;
font-size: 16px;
color: #fffafa;
}
.p-Home.Button30 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Button31 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Flex31 {
display: none;
flex-direction: column;
}
.p-Home.Image23 {
width: 100%;
height: ;
align-self: flex-end;
float: right;
}
.p-Home.TextBox36 {
;
}
.p-Home.TextBox37 {
font-size: 32px;
}
.p-Home.TextBox38 {
width: ;
font-size: 16px;
}
.p-Home.Image24 {
width: 50px;
height: 50px;
}
